# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.env/

# PyInstaller build folders
build/
dist/
*.spec

# SQLite database file
*.db

# MacOS metadata
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# Log files
*.log
